@layer base {
  h1:not(.not-prose, .not-prose *) {
    @apply scroll-m-20 text-4xl font-heading font-extrabold tracking-tight;
  }
  h2:not(.not-prose, .not-prose *) {
    @apply scroll-m-20 text-3xl font-heading font-semibold tracking-tight;
  }
  h3:not(.not-prose, .not-prose *) {
    @apply scroll-m-20 text-2xl font-heading font-semibold tracking-tight;
  }
  h4:not(.not-prose, .not-prose *) {
    @apply scroll-m-20 text-xl font-heading font-semibold tracking-tight;
  }
  h5:not(.not-prose, .not-prose *) {
    @apply scroll-m-20 text-lg font-heading font-semibold tracking-tight;
  }
  h6:not(.not-prose, .not-prose *) {
    @apply scroll-m-20 font-heading font-semibold tracking-tight;
  }
  p:not(.not-prose, .not-prose *) {
    @apply font-body;
  }
  blockquote:not(.not-prose, .not-prose *) {
    @apply mt-6 border-l-2 pl-6 font-body italic;
  }
  table:not(.not-prose, .not-prose *) {
    @apply my-6;
    tr {
      @apply m-0 border-t p-0 even:bg-muted;
    }
    th {
      @apply border px-4 py-2 text-left font-body font-bold [&[align=center]]:text-center [&[align=right]]:text-right;
    }
    td {
      @apply border px-4 py-2 font-body text-left [&[align=center]]:text-center [&[align=right]]:text-right;
    }
  }
  ul:not(.not-prose, .not-prose *) {
    @apply my-6 ml-6 list-disc font-body [&>li]:mt-2;
  }
  ol:not(.not-prose, .not-prose *) {
    @apply my-6 ml-6 list-decimal font-body [&>li]:mt-2 [&>li]:marker:font-semibold;
  }
  code:not(.not-prose, .not-prose *) {
    @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-body text-sm font-semibold;
  }
  small:not(.not-prose, .not-prose *) {
    @apply text-sm font-body font-medium leading-none;
  }
}